.navbar {
  background: #c3dad5d4;
  border-bottom: 1px solid #b0c4de ; 
  
  font-size: 1.2rem;
}

.navbar-brand {
  color: rgb(0, 62, 43);
  font-family: Verdana;
}
 
.nav-link{
  color: rgba(0, 62, 43, 0.609) ;
}

.navbar .nav-link.active {
  color: rgb(0, 62, 43);
  font-weight: 500;
}

#quarto-sidebar {
  border-right: none !important;
  box-shadow: none !important; 
}

#quarto-margin-sidebar {
  border-left: 1px solid #c3dad5d4;
  padding-left: 5% ;
  margin: 1rem; 
}

footer p {
  align-items: left;
}

#quarto-header {
  display: flex;
  flex-direction: column;
}